@{
    ViewData["Title"] = "Home Page";
}
    &nbsp;
<div id="app" class="text-center">
    <router-view v-bind:readonly="IsReadOnly" class="view">
    </router-view>
</div>
<environment include="Development">
    <script src="~/js/Home/API.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/lib/axios/dist/axios.js"></script>
    <script src="~/lib/vee-validate/dist/vee-validate.js"></script>
    <script src="~/lib/vue-router/dist/vue-router.js"></script>
    <script src="~/lib/vue-clip/dist/vue-clip.js"></script>
</environment>

<environment exclude="Development"><!--prod-->
    <script src="~/js/Home/API.min.js"></script>
    <script src="~/lib/vue/dist/vue.min.js"></script>
    <script src="~/lib/axios/dist/axios.min.js"></script>
    <script src="~/lib/vee-validate/dist/vee-validate.min.js"></script>
    <script src="~/lib/vue-router/dist/vue-router.min.js"></script>
    <script src="~/lib/vue-clip/dist/vue-clip.min.js"></script>
</environment>

@*include modules*@
<script src="~/lib/vuejs-paginate/dist/index.js"></script>
@Html.Partial("ContractsListing")
<script src="~/js/Home/Home.js"></script>