<template id="pos-details-template">
    <td colspan="9999">
        <div class="left-buffer top-buffer bottom-buffer">
            <div class="block-update-card">
                <div class="update-card-body">
                    <table class="table table-condensed">
                        <thead class="">
                            <tr>
                                <td><h5>Code</h5></td>
                                <td><h5>Name</h5></td>
                                <td><h5>Batch</h5></td>
                                <td><h5>Address</h5></td>
                                <td><h5>Region</h5></td>
                                <td><h5>Province</h5></td>
                                <td><h5>Brand</h5></td>
                                <td><h5>Bl</h5></td>
                                <td><h5>Status</h5></td>
                                <td><h5>Username</h5></td>
                                <td>
                                    <button v-show="!readonly" class="btn btn-sm">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </td>
                            </tr>
                        </thead>
                        <tr v-for="oPos in pos">
                            <td nowrap><span class="table-cell-content">{{oPos.PosCode}}</span></td>
                            <td><span class="table-cell-content">{{oPos.PosName}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Batch}}</span></td>
                            <td><span class="table-cell-content">{{oPos.Address}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Region}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Province}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Brand}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Bl}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Status}}</span></td>
                            <td nowrap><span class="table-cell-content">{{oPos.Username}}</span></td>
                            <td><button class="btn-link"><span class="glyphicon glyphicon-edit"></span></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</td>
</template>
<script>
    var PosDetails = {
        name: 'pos-details',
        template: '#pos-details-template',
        props: ['pos', 'readonly']
    }
</script>