<template id="search-bar-template">
    <div class="container">
        <form class="form-inline">
            <label for="filter">Filter by:</label>
            &nbsp;
            <select v-model="SearchModel.SelectedFilterValue" name="filter" class="form-control">
                <option value="1">Group</option>
                <option value="2">Dealer Name</option>
                <option value="3">Tax Id</option>
                <option value="4">Username</option>
            </select>
            &nbsp;
            <input v-on:keyup.enter="SearchButtonClicked" v-model="SearchModel.SearchString" type="text" class="form-control" placeholder="Search" />
            <button v-on:click="SearchButtonClicked" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
    </div>
</template>
<script>
    var SearchBar = {
        name: 'search-bar',
        template: '#search-bar-template',
        data: function () {
            return {
                SearchModel: {
                    SelectedFilterValue: 1, //default: Name
                    SearchString: ""
                }
            };
        },
        methods: {
            SearchButtonClicked: function () {
                this.$emit('searchclicked', this.$data.SearchModel);
            }
        }
    }
</script>