<template id="uploadscanned-modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div>
                        <h4>Upload PDF Document</h4>
                    </div>
                    <div class="modal-body">
                        <vue-clip :on-added-file="addedFile" 
                                  :options="options" 
                                  :on-complete="uploadCompleted"
                                  :total-progress="uploadprogresschange">
                            <template slot="clip-uploader-action">
                                <div>
                                    <div v-bind:class="{'dz-message' : Uploadable}"><pre> Click here to upload. </pre></div>
                                </div>
                            </template>
                            @*shows up this portion when add file*@
                            <template slot="clip-uploader-body" scope="props">
                                @*<div v-for="file in props.files">
                                </div>*@
                            </template>
                        </vue-clip>
                        <div class="row top-buffer">
                            <div class="col-sm-3 text-right">Filename:</div>
                            <div class="col-sm-8 text-left">{{Filename}}</div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-sm-3 text-right">Status:</div>
                            <div class="col-sm-8 text-danger text-left">{{Status}}</div>
                        </div>
                        @*doesnt really work*@
                        @*<div class="row top-buffer">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                     v-bind:aria-valuenow="Progress" aria-valuemin="0" aria-valuemax="100" v-bind:style="progressStyle">
                                    {{Progress}}%
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <br />
                    <br />
                    <div class="modal-footer">
                        <button class="btn btn-default"v-on:click="$emit('close')" v-bind:disabled="Uploading == 1">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    var UploadModal = {
        name: 'upload-modal',
        template: '#uploadscanned-modal-template',
        //props: parent data -> no mutate
        //data: personal data -> do whatever want!
        //https://github.com/thetutlage/vue-clip


        //doesnt work!
        computed: {
            progressStyle: function () {
                return {
                    width: this.$data.Progress + '%'
                };
            }
        },
        props: ['dealerid'],
        data: function () {
            return {
                options: {
                    method: 'post',
                    uploadMultiple: false,
                    url: UploadContractApiUrl.replace("{id}", this.dealerid),
                    maxFilesize: 5,
                    maxFiles: 1,
                    acceptedFiles: "application/pdf"
                },
                Uploading: 0,
                Progress: 0,
                Filename: "",
                Status: "",
                Uploadable: true
            };
        },
        methods: {
            addedFile: function (file) {
                this.$data.Uploading = 1;
                this.$data.Filename = file.name;
                //file properties havent fully populated at this time so next tick
                this.$nextTick(function () {
                    this.$data.Status = file.errorMessage;
                })
            },
            uploadCompleted: function (file, status, xhr) {
                //console.log(xhr);
                if (status != 'success') {
                    if (xhr.status == 500)
                        this.$data.Status = "Server error!";
                    else
                        this.$data.Status = xhr.response;
                }
                else
                    this.$data.Status = 'Success!';
                //disable upload
                this.$data.Uploading = 0;
                this.$data.Progress = 0;
                this.$data.Uploadable = false;
                //this.$emit('uploadcontractcompleted');
            },
            //doesnt work!
            uploadprogresschange: function (progress, totalBytes, bytesSent) {
                //console.log(progress);
                this.$data.Progress = progress;
            }
        }
    };
</script>